@page "/"
@using BlazorWASM.Pages.StartGame
@using Domain.DTOs
@using Domain.DTOs.Chat
@using Domain.DTOs.GameRoomData
@using HttpClients.ClientInterfaces
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavMgr
@inject IGameService GameService
<MudContainer MaxWidth="MaxWidth.Large">
    <AuthorizeView>
        <Authorized>
            <div class="mt-10 d-flex flex-row gap-10">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="DisplayCreateGameDialog">Create a Game</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="JoinRandomGame">Play Random</MudButton>
            </div>
            <MudSpacer/>
            <div class="d-flex justify-end">
                <MudIconButton Icon="@Icons.Filled.Refresh"
                               @onclick="@(async () => { Snackbar.Add("Refreshed", Severity.Success); await RefreshJoinableGames(); })"/>
            </div>
            <JoinableGameListComponent JoinableGames="@_joinableGames"/>
        </Authorized>
        <NotAuthorized>
            <MudText Typo="Typo.h2" Align="Align.Center" Class="ma-5">Please login to start playing.</MudText>
        </NotAuthorized>
    </AuthorizeView>
</MudContainer>


@code {
    private IList<GameRoomDto>? _joinableGames = new List<GameRoomDto>();

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        var user = authState.User;
        if (user.Identity == null) return;
        await RefreshJoinableGames();
    }

    private async Task RefreshJoinableGames()
    {
        try
        {
            _joinableGames = await GameService.GetGameRoomsAsync(new GameRoomSearchParameters
            {
                Joinable = true
            });
        }
        catch (HttpRequestException e)
        {
            Snackbar.Add(e.Message, Severity.Error);
        }
    }

    private void DisplayCreateGameDialog()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };
        DialogService.Show<StartGameComponent>("", options);
    }

    private async void JoinRandomGame()
    {
        await RefreshJoinableGames();

        if (_joinableGames?.Count > 0)
        {
            var randomGameRoomId = _joinableGames[new Random().Next(_joinableGames.Count)].GameRoom;
            try
            {
                await GameService.JoinGameAsync(new RequestJoinGameDto
                {
                    GameRoom = randomGameRoomId
                });
                NavMgr.NavigateTo("/ChessGame");
            }
            catch (HttpRequestException e)
            {
                Snackbar.Add(e.Message, Severity.Error);
            }
        }
        else
        {
            Snackbar.Add("No active games to join!", Severity.Normal, config =>
            {
                config.Action = "Create a game";
                config.ActionColor = Color.Primary;
                config.Onclick = _ =>
                {
                    DisplayCreateGameDialog();
                    return Task.CompletedTask;
                };
            });
        }
    }

}