@page "/Login"
@using HttpClients.ClientInterfaces
@inject IAuthService AuthService
@inject NavigationManager NavMgr
<AuthorizeView>
    <NotAuthorized>
        <MudPaper Class="pa-4">
        <MudText Align="Align.Center">Please login</MudText>
            <MudTextField InputType="InputType.Email" Label="Email" Variant="Variant.Filled" @bind-Value="_email"/>
            <MudTextField InputType="InputType.Password" Label="Password" Variant="Variant.Filled" @bind-Value="_password"/>
        <MudButton OnClick="LoginAsync" Variant="Variant.Filled" Color="Color.Success">Login</MudButton>
        </MudPaper>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string _email = "";
    private string _password = String.Empty;
    private string _errorLabel = String.Empty;
    
    private bool _isShow = false;

    private async Task LoginAsync()
    {
        _errorLabel = "";
        try
        {
            await AuthService.LoginAsync(_email, _password);
            NavMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorLabel = $"Error: {e.Message}";
        }
    }

}