@page "/Login"
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.SignalR.Client
@using Application.Signalr
@using System.Text.Json.Nodes
@inject IAuthService AuthService
@inject ISnackbar Snackbar
@inject NavigationManager NavMgr
@inject HubConnectionDto HubDto


<AuthorizeView>
    <NotAuthorized>
        <MudContainer MaxWidth="MaxWidth.Small">
            <MudPaper Class="pa-7 ma-10">
                <MudText Typo="Typo.h5" Align="Align.Center">Please login</MudText>
                <MudTextField InputType="InputType.Email" Label="Email" Variant="Variant.Filled" @bind-Value="_email"/>
                <MudTextField InputType="InputType.Password" Label="Password" Variant="Variant.Filled" @bind-Value="_password"/>
                <MudButton Class="mt-4" OnClick="LoginAsync" Variant="Variant.Filled" Color="Color.Success">Login</MudButton>
            </MudPaper>
        </MudContainer>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string _email = "";
    private string _password = string.Empty;

    private bool _isShow = false;

    private async Task LoginAsync()
    {
        if (string.IsNullOrEmpty(_email))
        {
            Notify("You need to specify your email!", Severity.Error);
        }
        else if (string.IsNullOrEmpty(_password))
        {
            Notify("You need to specify your password!", Severity.Error);
        }
        else
        {
            try
            {
                await AuthService.LoginAsync(_email, _password);

                if (HubDto.HubConnection is not null)
                {
                    await HubDto.HubConnection.DisposeAsync();
                }
                HubDto.HubConnection = new HubConnectionBuilder()
                    .WithUrl("https://localhost:7289/gamehub",
                        options => { options.AccessTokenProvider = () => Task.FromResult(AuthService.GetJwtToken())!; })
                    .Build();
    //Required so the connection is not dropped
                HubDto.HubConnection.On<string>("DummyConnection", _ => { });
                await HubDto.HubConnection.StartAsync();
                NavMgr.NavigateTo("/");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                var res = JsonNode.Parse(e.Message)!;
                Notify("" + res["message"], Severity.Error);
            }
        }
    }

    private void Notify(string message, Severity severity)
    {
        Snackbar.Add(message, severity, options => options.CloseAfterNavigation = true);
    }

}