.chess-board {
    display: grid;
    width: 800px;
    box-sizing: content-box;
    grid-template-columns: repeat(8, 100px);
    grid-auto-rows: 100px;
    border: 10px solid black;
}

.black-side
{
    rotate: 180deg;
}