@page "/ChessGame"
@using BlazorWASM.Pages.ChessComponents
@using Rudzoft.ChessLib
@using Rudzoft.ChessLib.Enums
@using Rudzoft.ChessLib.Factories
@using Rudzoft.ChessLib.Types

<h3>ChessGame</h3>


<ChessBoardComponent
    OnMoveMade="MakeMove"
    Position="@Game.Pos"/>


@code {
    public IGame Game { get; set; }
    
    public ChessGame()
    {
        Game = GameFactory.Create();
        Game.NewGame();
    }

    public void MakeMove(Move move)
    {
        Game.Pos.MakeMove(move, Game.Pos.State);
        CheckIfEndGame();
    }

    public void CheckIfEndGame()
    {
        Game.UpdateDrawTypes();
        if (Game.GameEndType == GameEndTypes.None && Game.Pos.IsMate)
            Game.GameEndType = GameEndTypes.CheckMate;

        Console.WriteLine(Game.GameEndType);
    }
}