@page "/"
@using System.Security.Claims

<PageTitle>Index</PageTitle>

@if (isLoggedIn)
{
    <h3>Hello @name</h3>
    <p>
        Your claims include:
        <ol>
            @foreach (Claim claim in userClaims!)
            {
                <li>
                    <label>@claim.Type: @claim.Value</label>
                </li>
            }
        </ol>
    </p>
}
else
{
    <p>You are not logged in.</p>
}
@* <ModalComponent></ModalComponent> *@

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private string? name;
    private IEnumerable<Claim>? userClaims;
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;
        
        if (!isLoggedIn) return;
        
        userClaims = user.Claims;
        name = user.Identity!.Name!;
    }

}