.chess-board {
    display: grid;
    width: auto;
    box-sizing: border-box;
    max-height: 70vh;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-auto-rows: calc(100% / 8);
    aspect-ratio: 1;
    border: 10px solid black;
}

.black-side
{
    rotate: 180deg;
}