.chess-board {
    display: grid;
    width: 100%;
    box-sizing: content-box;
    grid-template-columns: repeat(8, calc(100% / 8));
    grid-auto-rows: calc(100% / 8);
    aspect-ratio: 1;
    border: 10px solid black;
}

.black-side
{
    rotate: 180deg;
}