@using System.Text
@namespace BlazorWASM.Pages.ChessComponents

<div class="timer" style="color: @(Active ? "magenta" : "black")">
    <h1>@PrintFormattedTime(Seconds)</h1>
</div>

@code {
    [Parameter]
    public bool Active { get; set; }
    
    [Parameter]
    public double Seconds { get; set; }

    private string PrintFormattedTime(double secs)
    {
        var sb = new StringBuilder();
        
        sb.Append($"{TimeSpan.FromSeconds(secs).ToString(@"mm\:ss")}");

        return sb.ToString();
    }
}