@inherits LayoutComponentBase
<MudThemeProvider Theme="CustomTheme" IsDarkMode="false"/>
<MudAppBar Elevation="_themeManager.AppBarElevation"></MudAppBar>
<MudDrawer @bind-Open="_themeManagerOpen" ClipMode="_themeManager.DrawerClipMode" Elevation="_themeManager.DrawerElevation"></MudDrawer>

<MudLayout>
    <MudThemeManagerButton OnClick="@((e) => OpenThemeManager(true))"/>
    <MudThemeManager Open="_themeManagerOpen" OpenChanged="OpenThemeManager" Theme="_themeManager" ThemeChanged="UpdateTheme"/>
    <AppBar/>
    <div class="bg" style=""><img src="backgrounds/symmetrical-saturated-big.png"/></div>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<MudDialogProvider/>
<MudSnackbarProvider/>


@code {

    private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
    public bool _themeManagerOpen = false;

    void OpenThemeManager(bool value)
    {
        _themeManagerOpen = value;
    }

    void UpdateTheme(ThemeManagerTheme value)
    {
        _themeManager = value;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

    MudTheme CustomTheme = new MudTheme()
    {
        // Palette = new Palette()
        // {
        //     Primary = Colors.LightGreen.Darken3,
        //     Secondary = Colors.Teal.Darken2,
        //     Tertiary = Colors.Grey.Darken4,
        //     AppbarBackground = Colors.BlueGrey.Darken4,
        //     Background = Colors.Grey.Darken4,
        //     TextPrimary = Colors.Grey.Lighten4,
        //     BackgroundGrey = Colors.Grey.Default,
        //     Surface = Colors.Grey.Darken3,
        //     TextSecondary = Colors.Grey.Lighten3,
        //     DrawerText = Colors.Grey.Lighten3,
        //     AppbarText = Colors.Grey.Lighten3,
        //     LinesDefault = Colors.Grey.Lighten3,
        //     LinesInputs = Colors.Grey.Lighten5,
        //     TextDisabled = Colors.Grey.Lighten5,
        //     PrimaryContrastText = Colors.Grey.Lighten5,
        // },
        
        Palette = new Palette()
        {
            Surface = Colors.Grey.Lighten5,
            Primary = "#0E5E6F"
        },
    };

}