@inherits LayoutComponentBase
@using Login
@using MudBlazor
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <LoginButtons/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>